<h2>Template: <small> Dinámicos </small></h2>
<hr>

<form autocomplete="off" [formGroup]="myForm"><!--quito ngSubmit porque choca con el click-->
   
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   formControlName="name">
                <span class="form-text text-danger" *ngIf="isNotValid('name')">
                   Este campo es obligatorio y debe tener 3 letras mínimo
               </span>
        </div>
    </div>

    <!-- Añadir favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                       placeholder="Agregar favorito"
                       [formControl]="newFavourite"
                       (keydown.enter)="add()"><!--para hacer el método add al pulsar enter-->

                <button class="btn btn-outline-primary" type="button" (click)="add()">Agregar</button>
            </div>
        </div>
    </div>

    <!-- Lista de favoritos -->
    <div class="mb-3 row" formArrayName="favourites"><!--favourites necesita conseguirse del formulario con un get en el componente-->
        <div class="input-group mb-1" 
        *ngFor="let favorito of favourites.controls; let i = index">
            <input class="form-control" [formControlName]="i">

            <button class="btn btn-outline-danger" type="button" (click)="delete(i)"> Eliminar </button>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary float-end"
                    type="button" (click)="save()">
                Guardar
            </button>
        </div>
    </div>

</form>

<span>Valid</span>
<pre>{{myForm.valid}}</pre>

<span>Pristine</span>
<pre>{{myForm.pristine}}</pre>

<span>Touched</span>
<pre>{{myForm.touched}}</pre>

<span>Value</span>
<pre>{{myForm.value | json}}</pre>
